body{
    background-color: rgb(52, 52, 142);
    margin: 0;

}
.container{
     height: 70vh;
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
}
#btn{
    float: right;
    width: 120px;
    height: 30px;
    margin: 10px;
    border: 2px solid white;
    color: white;
    background-color: rgb(52, 52, 142);

}
.universe{
    border: 2px solid black;
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#moon{
    width: 80px;
    position: relative;
    left: 45%;
    /* top: -30%; */
}
#astronaut{
    width: 180px;
    position: relative;
    left: -10%;
    top: -30%;
    animation: astronaut 2s linear 0s infinite ;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}
@keyframes astronaut {
    0%{transform: translateY(0px);}
    100%{transform: translateY(30px);}
    
}